.mytasks-container{
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.status-heading{
  margin: 0px 10px;
  font-size: 14px;
}

.status-count{
  font-weight: 600;
}

.icon-container {
  width:100%;
}
.button-close {
    font-size: 12px;
    padding: 8px;
    background-color: #C32148;
    color: white;
    cursor: pointer;
    width:30px;
    height: 30px;
    float: right;
}
