.mytasks-container{
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.status-heading{
  margin: 0px 10px;
  font-size: 14px;
}

.icon-container {
	display: flex;
  max-width: 100px;
  height: 32px;
  float:right;
}
.button-close {
	text-align: center;
    font-size: 12px;
    padding: 8px;
    background-color: #C32148;
    color: white;
    cursor: pointer;
}
