@import url('https://fonts.googleapis.com/css?family=Poppins');
.task-card {
  width: 300px;
  height: 200px;
  overflow:hidden;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding:5px 5px 15px 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  position: relative;
  transition-property: height;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.task-card > div{
  padding:3px 0px 0px;
}

.menu-widget {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding:5px 0px;
}

.processname {
  font-size: 16px;
  color: #1EA0E9;
}

.appname {
  font-size: 12px;
}

.priority {
  font-size: 13px;
}

.priority span {
  font-weight: 300;
}

.time-details{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  margin: 5px 0px;
}

.item-details{
  width:50%;
}

.item-details img{
  margin: 0px 5px 0px 0px;
  width: 20px;
  height: 20px;
}

.item-details span:nth-child(2) {
vertical-align: super;
}

.metadata-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.metadata-items {
    width: 50%;
    margin: 10px 0px;
}

.right-align.right-align{
  text-align: right;
}

.metadata-items .item-header {
      font-weight: bold;
    font-size: 13px;
}

.metadata-items .item-data {
  font-size: 12px;
}

.menu-widget .menus{
  margin:3px;
  cursor: pointer;
}

.menu-widget .menus img {
  width: 25px;
    height: 25px;
}

.slidButton{
  width: 100%;
  height: 15px;
  text-align: center;
  color:#1EA0E9;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  position:absolute;
  bottom: 0;
}