@import url('https://fonts.googleapis.com/css?family=Poppins');

.taskdetails-container{
  width: 96%;
  margin: 0 auto;
  height:auto;
  overflow: auto;
  border:1px solid #000;
  padding: 10px;
}

.task-card {
  float:left;
  width: 300px;
  height: 200px;
  margin: 10px;
  overflow:hidden;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding:5px 5px 15px 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  position: relative;
  transition-property: height;
  transition-duration: .6s;
  transition-timing-function: ease;
}

.task-card > div{
  padding:3px 0px 0px;
}

.menu-widget {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding:5px 0px;
}

.processname {
  font-size: 18px;
  color: #1EA0E9;
}

.appname {
  font-size: 15px;
}

.priority {
  font-size: 13px;
}

.priority span {
  font-weight: 300;
}

.time-details{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  margin: 5px 0px;
}

.item-details{
  width:50%;
}

.item-details img{
  margin: 0px 5px 0px 0px;
  width: 16px;
    height: 16px;
}

.item-details span:nth-child(2) {
vertical-align: super;
}

.metadata-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.metadata-items {
    width: 50%;
    margin: 10px 0px;
}

.right-align.right-align{
  text-align: right;
}

.metadata-items .item-header {
      font-weight: bold;
    font-size: 13px;
}

.metadata-items .item-data {
  font-size: 12px;
}

.menu-widget{
  margin:3px;
}

.menu-widget .menus{
  margin:3px;
  cursor: pointer;
  display: inline-block;
}

.expand-content{
  visibility: visible !important;
}

.menu-widget .menus img {
  width: 25px;
    height: 25px;
}

.menu-widget .menus .menu-item {
    width: 22px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.menu-widget .segment-menu-inline{
    visibility: visible;
}

.menu-widget .segment-menu-inline:hover{
    visibility: visible;
}

.slideButton{
  width: 100%;
  height: 15px;
  text-align: center;
  color:#1EA0E9;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  position:absolute;
  bottom: 0;
      background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.slidein{
  background-image: url('https://cdn.jsdelivr.net/gh/NishanthAlmeida/react-ts-umy2rb@master/images/uparrow.png');
}

.slideout{
background-image: url('https://cdn.jsdelivr.net/gh/NishanthAlmeida/react-ts-umy2rb@master/images/downarrow.png')
}

.faritems-layer-container{
  position: fixed;
  opacity: 1;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  z-index: 1;
}

.faritems-container{
  position:relative;
  visibility: visible;
}

.faritem-menu {
  position: absolute;
  height: auto;
  border-radius: 2px;
  list-style: none;
  color: #323130;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
  margin: 0;
  padding: 0;
  transition-property: display;
  transition-duration: .1s;
  transition-timing-function: ease-in;
}

.faritem-menu-item {
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  height: 40px;
  padding: 2px;
}

.faritem-menu-item:hover{
      color: #1EA0E9;
}

.faritem-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 25px;
  margin: 3px;
}

.faritem-icon {
  display: inline-block;
  margin: 0px 2px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
}


/*ICONS*/

.process-icon{
  background-image: url('https://cdn.jsdelivr.net/gh/NishanthAlmeida/react-ts-umy2rb@master/images/viewprocess.png');
}

.openform-icon{
  background-image: url('https://cdn.jsdelivr.net/gh/NishanthAlmeida/react-ts-umy2rb@master/images/expand.png');
}

.changeflow-icon{
  background-image: url('https://cdn.jsdelivr.net/gh/NishanthAlmeida/react-ts-umy2rb@master/images/reassign.png');
}

.dot-icon{
  margin-left: 10px;
  width: 18px !important;
  background-image: url('https://cdn.jsdelivr.net/gh/NishanthAlmeida/react-ts-umy2rb@master/images/more.png');
}

.release-to-queue-icon {
  background-image: url('https://cdn.jsdelivr.net/gh/NishanthAlmeida/react-ts-umy2rb@master/images/releasetoqueue.png');
}

.rework-icon {
  background-image: url('https://cdn.jsdelivr.net/gh/NishanthAlmeida/react-ts-umy2rb@master/images/rework.png');
}

.create-worked-item-icon {
  background-image: url('https://cdn.jsdelivr.net/gh/NishanthAlmeida/react-ts-umy2rb@master/images/creatlinkworkitem.png');
}

.change-priority-icon {
  background-image: url('https://cdn.jsdelivr.net/gh/NishanthAlmeida/react-ts-umy2rb@master/images/changepriority.png');
}

.cancel-process-icon {
  background-image: url('https://cdn.jsdelivr.net/gh/NishanthAlmeida/react-ts-umy2rb@master/images/cancelprocess.png');
}

.view-description-icon {
  background-image: url('https://cdn.jsdelivr.net/gh/NishanthAlmeida/react-ts-umy2rb@master/images/MaskGroup1.png');
}
